{% extends "Errorlayout.html.twig" %}
{% block content %} 
 <div id="clouds">
            <div class="cloud x1"></div>
            <div class="cloud x1_5"></div>
            <div class="cloud x2"></div>
            <div class="cloud x3"></div>
            <div class="cloud x4"></div>
            <div class="cloud x5"></div>
        </div>
        <div class='c'>
            <div class='_404'>401</div>
            <hr>
            <div class='_1'>ACCES </div>
            <div class='_2'>UNAUTHORIZED <br>
                        Veuillez vous connecter</div>
            <a class='btn' href='../'>Retour au menu</a>
        </div>
 {% endblock %}