<footer class="uk-footer">
<a class="uk-logo" href="">
    <img src="/assets/images/logo-strashelp-300px.png" width="250" height="250" alt="logo">
</a>
<div class="uk-footer-left">
<ul>
    <h5 class="h5_footer">Pages Principales</h5>
    <li><a href="/" class="link_footer">Accueil</a></li>
	<li><a href="/annonces" class="link_footer">Annonces</a></li>
	<li><a href="/contact" class="link_footer">Contact</a></li>
</ul>
</div>
<div class="uk-footer-right">
<ul>
    <h5 class="h5_footer">Pages secondaires</h5>
	<div>
	<li><a href="#modal-center-2" data-uk-toggle=" #modal-center " uk-toggle class="link_footer">Connexion</a></li>
    <li><a href="#modal-center-1" data-uk-toggle=" #modal-center " uk-toggle class="link_footer">Inscription</a></li>
    <li><a href="/mentionlegales" class="link_footer">Mentions légales</a></lu></div>
</footer>
</ul>
</div>
</footer>
