<section class="uk-container-small uk-align-center">

<div id="modal-center-2" class="uk-flex-top pop-up modal-center-2" uk-modal>

	<div class="uk-modal-dialog container  uk-modal-body uk-margin-auto-vertical div_login ">

	<button class="uk-modal-close-default" type="button" uk-close></button>

		<h3 class="h3_login">Inscription</h3>
		<p class="instructions-center_login">Vérifier à bien avoir rentré tous les champs du formulaire.</p>

		<form action="" id="register-form" class="container_login" method="POST">

			<div class="">
				<input class="values_register uk-width-1" type="text" placeholder="Prénom" name="firstname" id="errorsfirstname">				
				<input class="values_register uk-width-1" type="text" placeholder="Nom" name="lastname" id="errorslastname">
			</div>

			<input class="values_register uk-width-1" type="text" placeholder= "Email" name="email" id="errorsemail">
            <input class="values_register uk-width-1" type="password" placeholder="Mot de passe" name="password" id="errorspasswordregister">

			<div class="">
				<input class="values_register uk-width-1" type="text" placeholder="Téléphone" name="phone_number" id="errorsphone">
				<input class="values_register uk-width-1" type="date" placeholder="Date de naissance" name="birthdate" id="errorbirthdate">
			</div>

            <input class="values_register uk-width-1" type="text" placeholder="Pseudo" name="username" id="errorsusername">
			<input class="values_register uk-width-1" type="text" placeholder="Localisation" name="localisation" id="errorslocalisation">

			<div class="div-button_login">
            <p class="instructions-left_login">Si vous possédez déjà un compte, <a href="#modal-center-1" data-uk-toggle=" #modal-center " uk-toggle>connectez-vous</a> par ici.</p>
			<input type="submit" class="button-submit_login" value="S'inscrire"> 
			</div>

		</form>
	</div>
</section>

