<section class="section_trouver-proposer uk-container-large">

<div uk-grid class="uk-grid-medium">
<div uk-switcher="animation: uk-animation-fade; toggle: > *" class="switch_3_ways_v3_laptop uk-align-center">
    <button class="uk-button button_trouver-proposer switch3 trouver3" type="button">Trouver</button>
    <button class="uk-button button_trouver-proposer switch3 proposer3" type="button">Proposer</button>
</div>

<div class="uk-switcher">
    <!-- Div par défaut, visible sous le nom de toggle "Trouver" -->
  <div id="trouver-visible" class="uk-column-1-3 toggle" uk-switcher-item="0">
      <div class="uk-align-center">
        <img src="assets/images/illustration-trouver-1.png" alt="icon" class="img-icon_trouver-proposer uk-align-center">
        <h5 class="titre-icon_trouver-proposer">1. Trouver son service</h5>
        <p class="description-icon_trouver-proposer">Besoin d'un service, d'aide, d'une recherche spécifique ? L'entraide est le vecteur principal de StrasHelp, vous trouverez une multitude d'Helper prêts à aider ! La barre de recherche ainsi que les catégories vous serviront à naviguer.</p>
      </div>
      <div class="uk-align-center">
        <img src="assets/images/illustration-trouver-2.png" alt="icon" class="img-icon_trouver-proposer uk-align-center">
        <h5 class="titre-icon_trouver-proposer">2. Rédiger son service</h5>
        <p class="description-icon_trouver-proposer">Si vous ne trouvez pas votre service, rien ne vous empêche de vous inscrire et de pouvoir en rédiger un ! Déposer une annonce prend quelques minutes, elle apparaitra sur la page des "Annonces" dès que vous l'aurez validée !</p>
      </div>
      <div class="uk-align-center">
        <img src="assets/images/illustration-trouver-3.png" alt="icon" class="img-icon_trouver-proposer uk-align-center">
        <h5 class="titre-icon_trouver-proposer">3. Essayer d'aider les autres</h5>
        <p class="description-icon_trouver-proposer">Maintenant que vous connaissez le fonctionnement, vous aussi essayez d'aider les autres, seul on va plus vite, à plusieurs on va plus loin !</p>
      </div>
  </div>
   <!-- Div hidden, visible sous le nom de toggle "Proposer" -->
  <div id="proposer-hidden" class="uk-column-1-3 toggle" uk-switcher-item="1">
      <div class="uk-align-center">
        <img src="assets/images/illustration-proposer-1.png" alt="icon" class="img-icon_trouver-proposer uk-align-center">
        <h5 class="titre-icon_trouver-proposer">1. Proposer son service</h5>
        <p class="description-icon_trouver-proposer">Une âme altruiste, des connaissances ou des compétences particulières ? C'est le moment de proposer vos services sur la base du volontariat !</p>
      </div>
      <div class="uk-align-center">
        <img src="assets/images/illustration-proposer-2.png" alt="icon" class="img-icon_trouver-proposer uk-align-center">
        <h5 class="titre-icon_trouver-proposer">2. Rédiger sa proposition</h5>
        <p class="description-icon_trouver-proposer">Afin que tout le monde puisse vous contacter, rédiger une proposition de vos savoir-faire. Cela prends quelques minutes et pourra sûrement donner l'opportunité d'aider une personne !</p>
      </div>
      <div class="uk-align-center">
        <img src="assets/images/illustration-proposer-3.png" alt="icon" class="img-icon_trouver-proposer uk-align-center">
        <h5 class="titre-icon_trouver-proposer">3. Essayer d'aider les autres</h5>
        <p class="description-icon_trouver-proposer">Maintenant que vous connaissez le fonctionnement, vous aussi essayez d'aider les autres, seul on va plus vite, à plusieurs on va plus loin !</p>
      </div>
  </div>
</div>
</div>
</section>