<section class="section-annonce_accueil">
    <div class="div-annonce_accueil uk-flex-inline uk-width-auto uk-align-center">
        <h5>Besoin d'aide ? Envie d'aider ? N'attendez plus !</h5>
        <a class="button-annonce_dashboard" href="/annonces">Rechercher une annonce</a>
    </div>
    <hr class="uk-divider-vertical">
</section>
<main class="uk-container uk-container-large">
<section class="uk-section">
    <div class="uk-align-center uk-width-expand uk-margin-large-bottom">
    <h4 class="title_les-dernieres-annonces">Les dernières annonces</h4>
    {% include "Components/_card.html.twig" %}
    </div>
    <div>
    {% include "Components/_trouver-proposer.html.twig" %}
    </div>
<div uk-grid class="uk-container-large uk-flex-middle notre-demarche">
    <div class="uk-width-1-2@l uk-align-center" ><img src="assets/images/image-strasbourg-notre-demarche.jpg" width="600px" height="450px" alt="image de Strasbourg" class="img-paysage"></div>
    <div class="uk-width-1-2@l uk-container-medium uk-align-center">
        <h5>Notre démarche</h5>
        <p>La démarche de notre société s'engage à développer au quotidien, l'aide, l'entraide des habitants de strasbourg et de sa périphérie. Ce site a pour but d'offrir l'échange de divers services ou plus simplement à titre bénévole. Nous faisons donc appel au personnes bienveillantes qui ont de la disponibilité. pour qui l’écoute, faire preuve de compréhension et d’empathie semble évident. Venez donc nous rejoindre pour essayer d'améliorera à notre échelle, un peu ce monde.Notre Charte Éthique inspire nos choix, nous aide à prendre de meilleures décisions. C’est un défi permanent, mais aussi une fantastique opportunité de nous améliorer sans cesse. L’Éthique nous guide. Elle nous aide à répondre aux questions importantes, sur ce que nous faisons ou pas. Elle renforce notre rôle dans la société.</p>
    </div>
</div>
</section>
</main>